* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f0e0d3;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background-color: var(--color-primary);
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1.1rem;
  color: var(--color-black);
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-black);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
  @keyframes appear {
      0%{ transform: translateY(-100%) scaleY(0); }
      100%{ transform: translateY(0) scaleY(1); }
  }
}

//Controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .control{
      padding: 1rem;
      cursor: pointer;
      background-color: antiquewhite;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .7rem 0;
      box-shadow: var(--box-shadow-1) ;

      i {
          font-size: 1.2rem;
          color: var(--color-black);
          pointer-events: none;
      }
  }
  .active-btn {
      background-color: hotpink;
      transition: all .4s ease-in-out;
      i { color: var(--color-black); }
  }
}

// Header-content
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

  .left-header {
    display: flex;
    align-items: center;
    position: relative;

    .h-shape {
      transition: all .4s ease-in-out;
      width: 80%;
      height: 100vh;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
    }
    .h-shape2 {
      transition: all .4s ease-in-out;
      width: 85%;
      height: 100vh;
      background-color: hotpink;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -2;
      clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
    }

    .image {
      border-radius: var(--br-sm-2);
      height: 40vh;
      width: 70%;
      margin-left: 6rem;
      transition: all .4s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .8rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease-in-out;
        border-radius: var(--br-sm-2);
        box-shadow: 1px 4px 15px rgba(0,0,0,.32);

        &:hover{
          transform: scale(1.1);
          transition: all .4s ease-in-out;
        }
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    .name {
      font-family: 'Poppins', sans-serif;
      font-size: 3rem;
      text-transform: uppercase;
      span {
        color: var(--color-secondary);
      }
    }

    p{
      margin: 1.5rem 0;
      line-height: 2rem;
      font-weight: 500;

      span {
        color: var(--color-secondary);
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

// Independent conponents
.btn-con {
  display: flex;
  align-self: flex-start;

  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
  
    .btn-text {
      padding: 0 2rem;
    }
    .btn-icon {
      background-color: var(--color-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all .4s ease-out;
      z-index: -1;
    }
    &:hover{
      &::before{
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        transform: translateX(0);
      }
    }
  }
}

.main-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;

  h2{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-black);
    span{
      color: var(--color-secondary);
    }
    .bg-text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: antiquewhite;
      transition: all .4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 5.8rem;
    }
  }
}

.about-container{
  width: 105%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 1rem;

  .right-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all .4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0,0,0,.1);


      &:hover{
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0,0,0,.32);
      }
      .abt-text {
        height: 100%;
        font-family: 'Poppins', sans-serif;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .large-text {
            font-size: 2rem;
            font-weight: 700;
            color: hotpink;
            text-shadow: -1.5px 0 antiquewhite, 0 1.5px antiquewhite, 1.5px 0 antiquewhite, 0 -1.5px antiquewhite;
            text-transform: uppercase;
        }
      }
    }
  }

  .about1 {
    background-image: url('../images/about1.jpg');
    background-size: cover;
  }
  .about2 {
    background-image: url('../images/about2.jpg');
    background-size: cover;
  }
  .about3 {
    background-image: url('../images/about3.jpg');
    background-size: cover;
  }
  .about4 {
    background-image: url('../images/about4.jpg');
    background-size: cover;
  }

  .left-about{
    padding-right: 5rem;
    color: var(--color-black);
    p {
        line-height: 2rem;
        padding: 1rem;
        color: var(--color-black);
        span {
          color: var(--color-secondary);
          font-weight: 700;
          font-size: 1.2rem;
        }

    }
    h4 {
        font-size: 2rem;
        text-transform: uppercase;

        span {
          color: var(--color-secondary);
        }
    }
  }
}

.comment {
  margin-top: 0;
  padding-top: 0;
  height: 80vh;

  h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-secondary);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;

    .comment-title {
      // color: var(--color-black);
      position: absolute;
      top: 6%;
      left: 50%;
      color: antiquewhite;
      transition: all .4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 5rem;
    }
  }

  .disqus-container {
    border: 2px solid var(--color-secondary);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;

    #disqus_thread {
      border: 2px solid hotpink;
      margin: 0;
      padding: 1em;
      border-radius: 5px;
    }
  }
}





@import './media';
